body{
    background-color: rgb(158, 113, 113);
    width:100vw;
    height:100vh;   
}
main{
    display:flex;
    align-items:center ;
    justify-content: center;
    width: 45rem;
    height: 30rem;
    background-color: red;
    margin: auto;
    /* margin:5rem 10rem; */
    /* padding: 5rem; */
    margin: 5rem 10rem;
    padding: 5rem;   
}
.section{
    width: 30rem;
    height: 30rem;
    background-color: blue;
}
.section1 img{
    height: 100%;
    width: 100%;
}
.section2{
    width: 30rem;
    height: 30rem;
}



